<div class="r big effect" ng-repeat="category in ctrl.PAGES">
  <div class="o"></div>
  <div class="c1"></div>
  <div class="c2"></div>
  <div class="rev">
    <a ng-href="/galleries/{{ category }}"
        ng-mouseover="ctrl.onMouseover(category);"
        ng-mouseout="ctrl.onMouseout();">
      <img ng-src="{{ STATIC_URL }}img/icons/galleries/{{ category }}.svg" alt="{{ category }}">
    </a>
  </div>
</div>
