<div class="mf-select" ng-init="visible = false;">
  <div class="i" ng-click="visible = !visible;">
    <span ng-show="selected">{{ selected }}</span>
    <span ng-hide="selected">{{ ::empty }}</span>
  </div>

  <div class="c" ng-show="visible">
    <div class="nano">
      <div class="nano-content">
        <ul>
          <li
            ng-repeat="option in options"
            ng-click="changeOption(option);">{{ option }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
