<m-circle elements="elements/events/months.html" angle="4.7123889804" ctrl="ctrl">
  <h2 class="vm">
    <span ng-show="ctrl.info">{{ ctrl.info }}</span>
    <span ng-show="!ctrl.info">pick a month</span>
  </h2>
</m-circle>
