<m-circle elements="elements/galleries/categories.html" ctrl="ctrl">
  <h2 class="vm">
    <span ng-show="ctrl.info">{{ ctrl.info|lowercase }}</span>
    <span ng-show="!ctrl.info">begin anywhere</span>
  </h2>
</m-circle>
