<m-circle
  ctrl="ctrl"
  class="reverse"
  padding="100"
  v-padding="100">

  <div ng-hide="ctrl.thanks">
    <a href class="close" ng-click="ctrl.back();"></a>
    <div class="top">
      <div class="news-icon">
        <img src="{{ STATIC_URL }}img/icons/base/mo_news_gray.svg" alt="Mo News"
            class="icon"><br>
        news
      </div>
    </div>
    <h1 class="i">mo-news</h1>
    <p>receive the lastest and greatest</p>

    <form name="signupForm">
      <div class="form-group"
          ng-class="{'has-error': signupForm.fullName.$invalid && signupForm.fullName.$dirty}">
        <label>full name</label>
        <input type="text" name="fullName" ng-model="ctrl.subscriber.full_name"
            ng-model-options="{debounce: 500}"
            required>
        <div class="help-block"
            ng-messages="signupForm.fullName.$error"
            ng-show="signupForm.fullName.$dirty">
            <ng-messages-include src="error_messages.html"></ng-messages-include>
        </div>
      </div>
      <div class="form-group"
          ng-class="{'has-error': signupForm.email.$invalid && signupForm.email.$dirty}">
        <label>email</label>
        <input type="email" name="email" ng-model="ctrl.subscriber.email" required>
        <div class="help-block"
            ng-messages="signupForm.email.$error"
            ng-show="signupForm.email.$dirty"
            ng-model-options="{debounce: 500}">
            <ng-messages-include src="error_messages.html"></ng-messages-include>
        </div>
      </div>
      <div class="form-actions bottom">
        <button type="submit" class="btn"
            ng-click="ctrl.subscribe()"
            ng-disabled="signupForm.$invalid || ctrl.loading">
            <span ng-hide="ctrl.loading">sign up!</span>
            <span ng-show="ctrl.loading">loading ...</span>
        </button>
      </div>
    </form>
  </div>

  <div ng-show="ctrl.thanks">
    <a href class="close" ng-click="ctrl.reset();"></a>
    <div class="news-icon">
      <img ng-src="{{ STATIC_URL }}img/icons/head.png" alt="">
    </div>
    <h2 class="vm">thank you</h2>
  </div>
</m-circle>
