<a class="scroll-left"
  ng-show="!ctrl.animated"
  ng-if="ctrl.previous"
  ng-click="ctrl.previousOrder()"></a>
<a class="scroll-right"
    ng-show="!ctrl.animated"
    ng-if="ctrl.next"
    ng-click="ctrl.nextOrder()"></a>
