<a class="scroll-left"
  ng-show="!ctrl.animated"
  ng-if="ctrl.previous"
  ng-click="ctrl.previousProduct()"></a>
<a class="scroll-right"
    ng-show="!ctrl.animated"
    ng-if="ctrl.next"
    ng-click="ctrl.nextProduct()"></a>
<a class="search" ng-click="ctrl.more();"></a>
