<m-circle elements="elements/galleries/subcategories.html" ctrl="ctrl"
    angle="1.57079633">
  <h2 class="vm">
    <span ng-show="ctrl.info">{{ ctrl.info|lowercase }}</span>
    <span ng-show="!ctrl.info">{{ ctrl.category }}</span>
  </h2>
</m-circle>
