<div class="r big effect" ng-class="{active: ctrl.step == 'authenticate'}">
  <div class="o"></div>
  <div class="c1"></div><div class="c2"></div>
  <div class="rev step">1</div>
</div>

<div class="r big effect" ng-class="{active: ctrl.step == 'shipping'}">
  <div class="o"></div>
  <div class="c1"></div><div class="c2"></div>
  <div class="rev step">2</div>
</div>

<div class="r big effect" ng-class="{active: ctrl.step == 'billing'}">
  <div class="o"></div>
  <div class="c1"></div><div class="c2"></div>
  <div class="rev step">3</div>
</div>

<div class="r big effect" ng-class="{active: ctrl.step == 'review'}">
  <div class="o"></div>
  <div class="c1"></div><div class="c2"></div>
  <div class="rev step">4</div>
</div>
