{% load pipeline static mofa_tags %}
<!doctype html>
<html {% block html_attrs %}{% endblock html_attrs %} ng-strict-di>
<head>
  <meta charset="utf-8">
  <title>MOFA</title>
  {% stylesheet 'master' %}
  {% block extra_head %}{% endblock extra_head %}
  <style>
  {% get_current_bg as bg_timing %}
  {% if bg_timing %}
    body,
    .circle .r .o {
      background-image: url('{{ bg_timing.background_image.url }}') !important;
    }
  {% endif %}
  </style>
</head>
<body id="{% block body_id %}{% endblock body_id %}"
    class="{% block body_class %}{% endblock body_class %}"
    {% block body_attrs %}{% endblock body_attrs %}>
  <aside ng-show="loaded" ng-class="{'pull': pullMenu, 'lb-on': lightboxCtrl.show}">
    <div class="p">
      <div id="logo"><a href="/"><img src="{% static "img/logo.gif" %}" alt="MOFA"></a></div>
      {% include "inc/aside_actions.html" %}
      <a href id="pull-out" ng-click="pullMenu = true;">
        <i class="glyphicon glyphicon-menu-hamburger hidden"></i>
      </a>
    </div>
    {% include "inc/nav.html" %}
  </aside>


  <section id="main">
    <div id="top" ng-show="loaded"
        ng-class="{'lb-on': lightboxCtrl.show}">
      <a href="/ur-account">ur account</a>
      <div class="social">
        <a href="/cart"><img src="{% static "img/footer/shop.png" %}" alt=""></a>
        <a href="#"><img src="{% static "img/footer/twitter.png" %}" alt=""></a>
        <a href="#"><img src="{% static "img/footer/fb.png" %}" alt=""></a>
        <a href="#"><img src="{% static "img/footer/pinterest.png" %}" alt=""></a>
        <a href="#"><img src="{% static "img/footer/instagram.png" %}" alt=""></a>
        {# web: <a href="#"><img src="{% static "img/footer/web.png" %}" alt=""></a> #}
      </div>
    </div>
    {% block main_content %}{% endblock main_content %}

    {% block base_legend %}
      <div class="legend">
        {% block legend %}{% endblock legend %}
      </div>
    {% endblock base_legend %}

    <footer ng-show="loaded"
      ng-class="{'lb-on': lightboxCtrl.show}">
      <div class="menu">
        <a href="/">home</a> |
        <a href="/p/about">about</a> |
        <a href="/galleries">galleries</a> |
        <a href="/e-market">e_market</a> |
        <a href="/human-garden">human garden</a>
      </div>
    </footer>
  </section>

  {% block scripts %}
    {% javascript 'base' %}
  {% endblock scripts %}
</body>
</html>
