{% extends "base.html" %}
{% load static %}

{% block main_content %}
  <div id="lightbox">
    <div class="content">
      <a href="#" class="close"></a>
    </div>
  </div>
{% endblock main_content %}
