<m-circle elements="elements/e_market/categories.html" ctrl="ctrl" angle="{{ ctrl.getAngle() }}">
  <h2 class="vm">
    <span ng-show="ctrl.info">{{ ctrl.info }}</span>
    <span ng-show="!ctrl.info">pick a category</span>
  </h2>
</m-circle>
