  <div class="r effect">
    <div class="o"></div>
    <div class="c1"></div><div class="c2"></div>
    <div class="rev">
      <img ng-src="{{ STATIC_URL }}img/icons/base/{{ ctrl.page.name }}.svg"
        alt="{{ ctrl.page.name }}">
    </div>
  </div>
